.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit_payment {
  display: flex;
  flex: row;
  gap: 300px;
}
button {
  background-color: #399776;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 5%;
}
button:hover {
  background-color: #4aa07d;
  color: black;
}
.wallet {
  height: 150px;
}
.select-country {
  margin: 20px;
  font-family: Arial, sans-serif;
}
.select-country-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
}
